@charset "UTF-8";

:root  {
  --font-family: "Nunito", Arial, Helvetica, sans-serif;
  --black: #222222;
  --blue: #122ab2;
  --white: #ffffff;
  --light-blue: #2c70ff;
  --gray-dark: #7c7c7c;
  --gray: #a4a4a4;
  --gray-light: #f7f7f7;
  --purple: #ae81ff;
  --pink: #f9265e;
  --sky-blue: #66d9eb; 
}

body {
  font-family: var(--font-family);
  color: var(--black); 
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
}

* {
  box-sizing: border-box;
}
